*{
    margin: 0px
}
.back{
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://img.freepik.com/premium-photo/assortment-food-salad-avocado-quail-mushrooms-pumpkin-black-background-top-view-free-space-your-text_187166-680.jpg?semt=ais_hybrid&w=740&q=80);
    height: 60vh;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
}
h2,h5{
    color:bisque ;
}
h1{
    color: antiquewhite;
}
.nav{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    width: 100%; 
    padding: 10px; 
}
li{
    color: antiquewhite;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
}
.text{
    text-align: center;
    margin-top: 70px;
}
p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.featured-dishes{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;
}
.card{
    border-radius: 10px;
    background-color: antiquewhite;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 18px #888888;
}
.card:hover{
    box-shadow: 5px 5px 18px black;
    transform:scale(1.1,1.1) ;
}
button{
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}
.customer-reviews{
    background-color: lightgray;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.review{
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    height: 90px;

}
.img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
pre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50px;
}
footer{
    color: white;
    padding: 20px;
    background-color: black;
}
.footercontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    display: inline-block;
}